{% extends 'base.html' %}

{% block content %}
        <h3>Hello, {{ student.name }}</h3>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li>Enrollment Number: {{ student.pk }}</li>
                        <li>Name: {{ student.name }}</li>
                        <li>Branch: {{ student.branch }}</li>
                    </ul>
                    <a class="btn btn-info" href="{% url 'student_update' student.pk %}">UPDATE</a>
                    <a class="btn btn-danger" href="{% url 'student_delete' student.pk %}">DELETE</a>
                </div>
                <div class="col-md-2">
                    <img src="{{ student.profile_pic.url }}" alt="{{ student.name }}.jpg" style="height: 150px; width:150px;border: 4px solid black;">
                </div>
            </div>
        </div>
{% endblock %}